*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    padding: 20px 0px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper>div:first-child{
    display: flex;
    gap: 100px;
    align-items: center;
}

.header-wrapper>div:first-child nav{
    display: flex;
    gap: 50px;
}

@media only screen and (max-width: 992px) {
    .header-wrapper nav{
        display: none !important;
    }
  }